*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.preloader{
    background: #fff url('./images/main_logo.svg') no-repeat center center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 72px;
text-align: center;
color: #141616;
}
h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 60px;
text-align: center;
color: #006C9B;
}
h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 35px;
text-align: center;
color: #141616;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}
h6{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.blue_button{
    padding: 10px 15px;
    background: #006C9B;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    }
.blue_button:hover{
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FBFBFB;
    font-family: "Poppins", sans-serif;
}
main{
    position: relative;
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-position: left top;
    transition: all .5s ease-in;
}
#main{
    height: 100vh;
    width: 100%;
    z-index: 1000;
    animation: fadeIn 5s ease 0s 1 normal forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
nav{
    display: flex;
    padding: 0% 5%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    height: 100px;
    position: fixed;
    width: 100%;
}
.nav_logo{
    width: 20%;
}
.nav_list{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
    
}
.nav_list li{
    margin-left: 40px;
}
.nav_list li a.first-child{
    color: #0082BA;
    font-weight: 600;
    transition: all ease .3s;
}
.nav_list li a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.nav_list li a:hover{
color: #0082BA;
font-weight: 600;
transition: all .5s ease;
}
@media screen and (max-width: 960px){
    nav{
        flex-direction: column;
        justify-content: center;
        padding: 0% 7%;
    }
    .nav_toogle{
        display: flex;
        justify-content: space-between;
width: 100%;
    }
    .nav.active{
        background-color: #cce6f1;
        transition: all .3s ease;
    }
    .nav_logo{
        width: 80%;
    }
    .toogle_btn{
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
    }
    .toogle_btn span{
        width: 25px;
        height: 3px;
        background-color: #006C9B;
        margin: 0px auto 6px auto;
        cursor: pointer;
        transition: all .3s ease;
        transform: translate(5%, 20%);
    }
    .nav_list{
        position: absolute;
        top: -100%;
        z-index: -1;
        opacity: 0;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 10%;
        transition: all .3s ease;
    }
    .nav_list.active{
        position: absolute;
        top: 100px;
        z-index: 9999;
        opacity: 1;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 10%;
        transition: all .3s ease;
        background-color:  #cce6f1;
    }
.nav_list li{
 margin: 0px auto;
}
.nav_list li a{
    color: #0082BA;
}
.nav_list li a:hover{
    color: #fff;
    text-decoration: underline;
    }
.toogle_btn.is_active span:nth-child(1){
transition: all .3s ease;
transform: rotate(45deg) translateY(13px);
}
.toogle_btn.is_active span:nth-child(2){
    transition: all .3s ease;
    opacity: 0;
}
.toogle_btn.is_active span:nth-child(3){
        transition: all .3s ease;
        transform: rotate(-45deg) translateY(-13px);
        }
}

main{
    position: relative;
    background-image: url("./images/background.svg");
    background-repeat: no-repeat;
    background-position: left top;
}
#home{
    display: flex;
    overflow: hidden;
    padding: 0% 0% 0% 5%;
}
.home_texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_texts h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 82px;
letter-spacing: 0.015em;
color: #001A25;
height: 28%;
position: relative;
top: -40px;
}
.home_texts p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;
color: #141616;
width: 50%;
height: 18%;
display: flex;
justify-content: center;
}
.home_button{
height: 10%;
}
.home_img{
    position: relative;
    width: 50%;
    left: 40px;
}
.home_img img{
    width: 100%;
    z-index: 999;
}

@media screen and (max-width: 960px){
    main{
        padding: 0%;
    }
    #home{
        flex-direction: column-reverse;
        padding: 0%;
    }
    .home_texts{
        width: 100%;
        text-align: center;
        padding: 0% 5%;
        position: relative;
        top: -180px;
    }
    .home_texts h1{
    top: 0px;
    }
    .home_texts p{
    width: 60%;
    margin: 0px auto;
    padding: 20px 0px;
    }
    .home_button{
    height: 10%;
    }
    .home_img{
        width: 100%;
        left: 0px;
    }
}
@media screen and (max-width: 500px){
    
    .home_texts{
        width: 100%;
        text-align: center;
        padding: 0% 5%;
        top: -50px;
    }
    .home_texts h1{
    font-size: 35px;
    line-height: 42px;
    height: 40%;
    top: 0px;
    }
    .home_texts p{
    width: 80%;
    height: 30%;
    margin: 0px auto;
    }
    .home_button{
    height: 10%;
    }
    .home_img{
        width: 100%;
        left: 0px;
        padding-top: 50px;
    }
}

.business_trusted{
    text-align: center;
    min-height: 120px;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: -50px;
}
.business_trusted p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #3B3D3D;
}
.businesses{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 500px){
    .business_trusted{
        top: 10px;
        padding: 0% 7% ;
    }
    .businesses{
        display: grid;
        grid-template-columns: 50% 50%;
       margin-top: 40px;
    }
    .businesses li{
        height: 55px;
    }
}

.work_with_us{
    padding: 0% 5%;
    text-align: center;
    position: relative;
    top: 50px;
}
.reasons{
display: flex;
}
.reasons1{
width: 50%;
}
.reason{
width: 500px;
height: 300px;
margin: 0% auto;
display: flex;
flex-direction: column;
justify-content: center;
}
.reason p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
color: #000000;
}

@media screen and (max-width: 960px){
    .reasons{
        display: grid;
        grid-template-columns: 100%;
    }
    .reasons1{
        width: 100%;
    }
    .reason{
        height: 270px;
    }
}

@media screen and (max-width: 500px){
    .work_with_us h2{
        font-size: 33px;
    }
.reason{
    width: 100%;
    height: 280px;
}
.reason h3{
    font-size: 28px;
}
.reason p{
    font-size: 18px;
    font-weight: 400;
    width: 95%;
    margin: 0% auto;
}
}

.stats{
    padding: 10% 5% 0% 5%;
    font-family: 'Vollkorn';
    min-height: 400px;
    align-items: center;
}
.stats ul{
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
justify-items: center;
}
.stats ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-height: 230px;
    border: 3px solid #0082BA;
    border-radius: 8px;
}
.stats ul li h5{
    font-size: 28px;
}
.stats_num{
    font-weight: 500;
font-size: 60px;
line-height: 70px;
text-align: center;
color: #141616;
height: 50%;
display: flex;
align-items: center;
}


@media screen and (max-width: 960px){
    .stats{
        padding: 15% 3%;
    }
    .stats ul li{
        width: 90%;
        height: 250px;
    }
    .stats_num{
        height: 40%;
    }
}

@media screen and (max-width: 550px){
    .stats{
        padding: 15% 5%;
position: relative;
top: 60px;
    }
    .stats ul{
        grid-template-columns: 100%;
        }
    .stats ul li{
        margin-bottom: 30px;
    }
}

#our_service{
    padding: 0% 5%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.services{
    display: flex;
}
.services1{
width: 33.33%;
}
.service{
    width: 320px;
height: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 3%;
}
.service p{
    padding: 0% 5%;
}
.service h5{
    color: #006C9B;
}

@media screen and (max-width: 960px){
    .services{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-flow: column;
    }
    .services1:nth-child(3){
        grid-row: 2;
        grid-column: 1 / span 2;
        width: 100%;
    }
    .services1:nth-child(3) ul{
        display: flex;
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    #our_service{
        padding-top: 30px;
    }
    .services{
        display: flex;
        flex-direction: column;
    }
    #our_service h2{
        font-size: 35px;
    }
.service{
    width: 95%;
}
    .services1{
        width: 100%;
    }
    .services1:nth-child(3) ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.our_projects{
    background: #80C1DD;
    padding: 5% 8%;
}
.project{
display: flex;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 5%;
margin-top: 50px;
}
.project_texts{
width: 50%;

}
.project_texts h3{
text-align: left;
height: 70px;
}
.project_texts p{
    width: 391px;
    height: 208.03px;
    font-size: 24px;
line-height: 36px;
}
.project_features{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px; 
}
.project_features span{
    background: #85C3AA;
    border-radius: 14px;
    padding: 4px 10px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;   
}
.project_button{
    margin-top: 30px;
}
.project_out_button{
    margin-top: 30px;
    text-align: center;
}
.project_image{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.project_image img{
    width: 520px;
    height: 500px;
}

@media screen and (max-width: 960px){
    .our_projects{
        padding: 5%;
    }
    .project{
        padding: 2.5% 5%;
    }
    .project_texts p{
        width: 90%;
        font-size: 18px;
        height: auto;
    }
    .project_image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .project_image img{
        width: 100%;
        height: 400px;
        object-fit: contain;
    }
    .project_features{
        flex-wrap: wrap;
    margin-top: 10px;
    }
}
@media screen and (max-width: 500px){
    .our_projects{
        padding: 8% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.project{
display: flex;
flex-direction: column-reverse;
width: 95%;
padding: 0%;
position: relative;
}
.project_texts{
width: 100%;
padding: 0% 7% 10% 7%;
}
.project_image{
    width: 100%;
    position: relative;
}
    .project_image img{
        height: auto;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}


.testimonials{
    padding: 5% 8%;
}
.testimony{
display: flex;
margin-top: 30px;
}
.testimony:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}
.testimony_img{
width: 25%;
}
.testimony_img img{
    width: 65%;
}
.testimony:nth-child(2) .testimony_img{
    display: flex;
    justify-content: right;
}
.testimony_texts{
width: 75%;
display: flex;
flex-direction: column;
justify-content: center;
}
.testimony_texts h3{
    text-align: left;
    line-height: 35px;
    margin-top: 10px;
    }
.testimony_texts p{
    font-size: 24px;
line-height: 36px;
}
.testimony_texts span{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}
@media screen and (max-width: 960px){
    .testimonials{
        padding: 8% 5%;
    }
    .testimony{
    display: flex;
    margin-top: 30px;
    }
    
    .testimony_img{
    width: 30%;
    }
    .testimony_img img{
        width: 80%;
    }
    .testimony:nth-child(2) .testimony_img{
        width: 30%;
    }
    .testimony_texts{
    width: 70%;
    }
    .testimony_texts p{
        font-size: 18px;
    }
}
@media screen and (max-width: 500px){
.testimony{
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}
.testimony:nth-child(2){
    flex-direction: column;
}
.testimony:nth-child(2) .testimony_img{
    width: 100%;
    justify-content: center;
}
.testimony_texts{
    width: 95%;
    text-align: center;
    margin: 20px auto 0px auto;
}
.testimony_texts h3{
    text-align: center;
}
.testimony_texts span{
    text-align: center;
}
.testimony_img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimony_img img{
    width: 70%;
}
}

.newsletter{
    padding: 4% 8%;
    min-height: 200px;
    background: #CCE6F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsletter_texts{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #141616;
}
.newsletter form{
margin: 30px auto 0px auto;
width: 100%;
position: relative;
}
.newsletter label{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #141616;
}
#email{
    box-sizing: border-box;
    width: 60%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8A8B8B;
    border-radius: 5px;
    margin-left: 20px;
padding: 10px;
}
input:focus{
    outline: none;
}
.newsletter form button{
    margin-left: 20px;
}
.error-message{
    font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #B01A1A;
display: none;
position: absolute;
left: 21%;
margin-top: 5px;
}
@media screen and (max-width: 960px){
    .newsletter{
        padding: 5%;
    }
    #email{
        width: 50%;
        margin-left: 10px;
    }
    .newsletter form button{
        margin-left: 10px;
    }
    .error-message{
        left: 31%;
    }
}
@media screen and (max-width: 550px){
    .newsletter{
        padding: 8%;
    }
    #email{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        
    }
    .newsletter form{
        display: grid;
        grid-template-columns: 100%;
    }
    .newsletter form button{
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .error-message{
        left: 0%;
        margin-top: 0px;
        position: relative;
    }
}

footer{
    background: #80C1DD;
    padding: 3% 8% 1% 8%;
}

.content_footer{
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
}
.content_footer ul li{
    margin-top: 10px;
}
.content_footer ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    height: auto;
}
.content_footer ul li a:hover{
    cursor: pointer;
    color: #002B3E;
    text-decoration: underline;
    transition: .5s all ease;
}
.Services_footer li h5,
.About_footer li h5,
.contact_footer li h5{
    text-align: left;
    color: #002B3E;
    justify-content: left;
    height: 50px;
}
.socials_footer{
display: flex;
}
.socials_footer li{
    width: 25px;
}
.tribute{
    text-align: center;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tribute h6{
    color: #002B3E;
    font-weight: 600;
font-size: 24px;
}
.tribute p{
    color: #002B3E;
    font-size: 12px;
}
.tribute p a:hover{
text-decoration: underline;
}

@media screen and (max-width: 960px){
footer{
    padding: 3% 5% 1% 5%;
}
.About_footer{
    margin-left: 25px;
}
.socials_footer li{
    width: 25%;
}
}
@media screen and (max-width: 550px){
    footer{
        padding: 8%;
    }
.content_footer{
    display: grid;
    grid-template-columns: 100%;
}
.About_footer{
    margin-left: 0px;
}
.tribute h6{
    font-size: 18px;
    line-height: 20px;
}
.tribute p{
    font-size: 10px;
}
}